header, footer {
    background-color: #75c1fa;
}

.name {
    font-size: 100px;
    position: relative;
    left: 30px;
}

.japanname {
    font-size: 30px;
    position: relative;
    left: 30px;
}

.login {
    font-size: 20px;
    text-align: right;
    position: relative;
    bottom: 30px;
    right: 20px;
}

.schedule {
    font-size: 40px;
    text-align: center;
}

.box {
    width: 707px;
    height: 500px;
    border: 2px solid black;
    margin-right: auto;
    margin-left: auto;
}

hr {
    background-color: black;
}

.blog {
    font-size: 30px;
}
