body{
    background-color:#d5d9d9;
}
.box {
    width: 700px;
    height: 600px;
    box-shadow: 0px 15px 30px rgba(0,0,0,0.3);
    border-radius: 20px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    top: 200px;
    background-color: white;
}
.kanri{
    font-size:50px;
    text-align:center;
}
.input1 {
    width: 400px;
    height: 50px;
    position: relative;
    left: 150px;
    top: 80px;
    font-size: 30px;
}
.input2 {
    width: 400px;
    height: 50px;
    position: relative;
    left: 150px;
    top: 110px;
    font-size:30px;
}
.checkbox {
    position: relative;
    left: 150px;
    top: 140px; /* ← input2 の 80px より少し下に置く */
    display: flex;
    align-items: center;
}
    label {
        margin-left:6px;
        position:relative;
        top:82px;
        left:180px;
    }
.login {
    font-size:40px;
    background-color: aqua;
    width: 200px;
    height: 75px;
    position: relative;
    top: 230px;
    left:150px;
    
}